<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
			crossorigin="anonymous"
		/>

		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
			rel="stylesheet"
		/>

		<!-- <link href="assets/fonts.scss" rel="stylesheet"> -->

		<style>
			.row-fluid {
				display: flex;
				flex-wrap: wrap;
			}

			.vertical-center {
				display: flex;
				align-items: center;
			}
		</style>
	</head>

	<body>
		<div class="row-fluid">
			<div class="col-12">
				<div class="border-bottom py-3">
					<div class="container">
						<div class="row justify-content-between">
							<div class="col-6">
								<span>Gratis Ebook 9 Cara Cerdas Menggunakan Domain [ x ]</span>
							</div>
							<div class="col-6 text-end">
								<i class="fas fa-phone-alt"></i>
								<span class="mx-3">0274-5305505</span>

								<i class="fas fa-comments"></i>
								<span class="mx-3">Live Chat</span>

								<i class="fas fa-user-circle"></i>
								<span class="mx-3">Member Area</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12">
				<nav
					class="navbar navbar-expand-lg navbar-light bg-white border-bottom"
				>
					<div class="container">
						<a class="navbar-brand" href="#">
							<img src="assets/images/logo.png" alt="" height="90" />
						</a>

						<button
							class="navbar-toggler float-end"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<div
								class="w-100 d-flex justify-content-xl-end justify-content-lg-end justify-content-md-center justify-content-sm-center justify-content-center"
							>
								<ul class="navbar-nav mb-2 mb-lg-0">
									<li class="nav-item">
										<a class="nav-link" href="#">Hosting</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Domain</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Server</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Website</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Afiliasi</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Promo</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Pembayaran</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Review</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Kontak</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Blog</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</div>

			<div class="col-12 mt-4 border-bottom">
				<div class="container d-flex">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 py-4 pe-4">
						<h1 class="fw-bold">PHP Hosting</h1>
						<h2 class="fw-light text-muted">
							Cepat, handal, penuh dengan modul PHP yang Anda butuhkan
						</h2>

						<div class="row mt-4 fw-light text-muted">
							<div class="col-1">
								<i class="fas fa-check-circle text-success"></i>
							</div>
							<div class="col-11 ps-0">
								<p>Solusi PHP untuk performa query yang lebih cepat.</p>
							</div>

							<div class="col-1">
								<i class="fas fa-check-circle text-success"></i>
							</div>
							<div class="col-11 ps-0">
								<p>Konsumsi memori yang lebih rendah.</p>
							</div>

							<div class="col-1">
								<i class="fas fa-check-circle text-success"></i>
							</div>
							<div class="col-11 ps-0">
								<p>Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 7.</p>
							</div>

							<div class="col-1">
								<i class="fas fa-check-circle text-success"></i>
							</div>
							<div class="col-11 ps-0">
								<p>Fitur enkripsi IonCube dan Zend Guard Loaders</p>
							</div>
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-4">
						<img src="assets/svg/illustration banner PHP hosting-01.svg" />
					</div>
				</div>
			</div>

			<div class="col-12 mt-4">
				<div
					class="container d-flex justify-content-center fw-light text-muted mt-4"
				>
					<div class="col-4 text-center">
						<div class="row">
							<div class="col-12 vertical-center" style="height: 200px">
								<div class="w-100 text-center">
									<img src="assets/svg/icon-zendguard.png" />
								</div>
							</div>
							<div class="col-12" style="height: 50px">
								<p class="align-text-bottom">PHP Zend Guard Loader</p>
							</div>
						</div>
					</div>

					<div class="col-4 text-center my-auto">
						<div class="row">
							<div class="col-12 vertical-center" style="height: 200px">
								<div class="w-100 text-center">
									<img src="assets/svg/icon-composer.png" />
								</div>
							</div>
							<div class="col-12" style="height: 50px">
								<p class="align-text-bottom">PHP Composer</p>
							</div>
						</div>
					</div>

					<div class="col-4 text-center my-auto">
						<div class="row">
							<div class="col-12 vertical-center" style="height: 200px">
								<div class="w-100 text-center">
									<img src="assets/svg/icon-ioncube.png" />
								</div>
							</div>
							<div class="col-12" style="height: 50px">
								<p class="align-text-bottom">PHP ionCube Loader</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mt-4">
				<div class="container text-center mt-4">
					<h2 class="fw-bold">Paket Hosting Singapura yang Tepat</h2>
					<h3 class="fw-normal text-muted">
						Diskon 40% + Domain dan SSL Gratis untuk Anda
					</h3>
				</div>
			</div>

			<div class="col-12 mt-4">
				<div class="container text-center mt-4">
					<h2 class="fw-normal text-muted">
						Powerful dengan Limit PHP yang lebih Besar
					</h2>
					<div class="row mt-4">
						<div class="col-6">
							<table class="table table-striped">
								<tbody>
									<tr>
										<td>
											<i class="fas fa-check-circle text-success"></i>
										</td>
										<td>max execution time 300s</td>
									</tr>

									<tr>
										<td>
											<i class="fas fa-check-circle text-success"></i>
										</td>
										<td>max execution time 300s</td>
									</tr>

									<tr>
										<td>
											<i class="fas fa-check-circle text-success"></i>
										</td>
										<td>php memory limit 1024 MB</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-6">
							<table class="table table-striped">
								<tbody>
									<tr>
										<td>
											<i class="fas fa-check-circle text-success"></i>
										</td>
										<td>post max size 128 MB</td>
									</tr>

									<tr>
										<td>
											<i class="fas fa-check-circle text-success"></i>
										</td>
										<td>upload max filesize 128 MB</td>
									</tr>

									<tr>
										<td>
											<i class="fas fa-check-circle text-success"></i>
										</td>
										<td>max input vars 2500</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mt-4">
				<div class="container text-center mt-4">
					<h2 class="fw-normal text-muted">
						Semua Paket Hosting Sudah Termasuk
					</h2>
					<div class="row mt-5">
						<div class="col-4 mb-5">
							<img src="assets/svg/icon-PHP-all.svg" height="80" />

							<h4 class="m-0">PHP Semua Versi</h4>
							<p class="m-0 text-muted">
								Pilih mulai dari versi PHP 5.3 s/d PHP 7.
							</p>
							<p class="m-0 text-muted">Ubah sesuka anda!</p>
						</div>

						<div class="col-4 mb-5">
							<img src="assets/svg/icon-MySQL.svg" height="80" />

							<h4 class="m-0">MySQL Versi 5.6</h4>
							<p class="m-0 text-muted">
								Nikmati MsSQL versi terbaru, tercepat dan kaya akan fitur.
							</p>
						</div>

						<div class="col-4 mb-5">
							<img src="assets/svg/icon-CPanel.svg" height="80" />

							<h4 class="m-0">Panel Hosting cPanel</h4>
							<p class="m-0 text-muted">
								Kelola website dengan panel canggih yang familiar di hati Anda.
							</p>
						</div>

						<div class="col-4 mb-5">
							<img src="assets/svg/icon-garansi-uptime.svg" height="80" />

							<h4 class="m-0">Garansi Uptime 99.9%</h4>
							<p class="m-0 text-muted">
								Data center uang mendukung kelangsungan website Anda 24/7.
							</p>
						</div>

						<div class="col-4 mb-5">
							<img src="assets/svg/icon-InnoDB.svg" height="80" />

							<h4 class="m-0">Database InnoDB Unlimited</h4>
							<p class="m-0 text-muted">
								Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda.
							</p>
						</div>

						<div class="col-4 mb-5">
							<img src="assets/svg/icon-MySQL-remote.svg" height="80" />

							<h4 class="m-0">Wildcard Remote MySQL</h4>
							<p class="m-0 text-muted">
								Mendukung s/d 25 max_user_connections dan 100 max_connections.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mt-4 border-bottom">
				<div class="container text-center mt-4">
					<h2 class="fw-normal text-muted">
						Mendukung Penuh Framework Laravel
					</h2>
				</div>

				<div class="container mt-4">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 py-4 pe-4">
							<p class="fw-light text-muted">
								Tak perlu menggunakan dedicated server ataupun VPS yang mahal.
								Layanan PHP hosting murah kami mendukung penuh framework favorit
								anda
							</p>

							<div class="row mt-4 fw-light text-muted">
								<div class="col-1">
									<i class="fas fa-check-circle text-success"></i>
								</div>
								<div class="col-11 ps-0">
									<p>Install Laravel 1 klik dengan Softaculous Installer.</p>
								</div>

								<div class="col-1">
									<i class="fas fa-check-circle text-success"></i>
								</div>
								<div class="col-11 ps-0">
									<p>
										Mendukung ektensi PHP MCrypt, phar, mbstring, json, dan
										fileinfo.
									</p>
								</div>

								<div class="col-1">
									<i class="fas fa-check-circle text-success"></i>
								</div>
								<div class="col-11 ps-0">
									<p>
										Tersedia Composer dan SSH untuk menginstal packages pilihan
										Anda.
									</p>
								</div>
							</div>

							<p class="fw-light text-muted">
								Nb. Composer dan SSH hanya tersedia pada paket Personal dan
								Bisnis
							</p>

							<button
								type="button"
								class="btn btn-primary rounded-pill fw-bold px-3"
							>
								Pilih Hosting Anda
							</button>
						</div>

						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-4">
							<img
								src="assets/svg/illustration banner support laravel hosting.svg"
							/>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mt-4">
				<div class="container text-center mt-4">
					<h2 class="fw-normal text-muted">
						Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.
					</h2>
				</div>

				<div class="container mt-4">
					<div class="row">
						{% for php_module in php_modules %}
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
							<span class="fw-light text-muted">{{ php_module }}</span>
						</div>
						{% endfor %}

						<div class="col-12 text-center mt-4">
							<button
								type="button"
								class="btn btn-outline-secondary rounded-pill fw-bold px-4 float-center"
							>
								Selengkapnya
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 mt-4">
				<div class="container d-flex mt-5">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pe-4">
						<h2 class="fw-light text-muted">
							Linux Hosting yang Stabil dengan Teknologi LVE
						</h2>

						<p class="fw-light text-muted">
							SuperMicro Intel Xeon 24-Cores server dengan RAM 128 GB dan
							teknologi LVE CloudLinux untuk stabilitas server anda. Dilengkapi
							dengan SSD untuk MySQL dan caching, Apache load balancer berbasis
							LiteSpeed Technologies, CageFS security, Raid-10 protection dan
							auto backup untuk keamanan website PHP Anda.
						</p>

						<button
							type="button"
							class="btn btn-primary rounded-pill fw-bold px-3"
						>
							Pilih Hosting Anda
						</button>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 px-4">
						<img src="assets/images/Image support.png" />
					</div>
				</div>
			</div>

			<div class="col-12 py-4 bg-light">
				<div class="container d-flex justify-content-between">
					<p class="m-0">Bagikan jika Anda menyukai halaman ini.</p>
				</div>
			</div>

			<div class="col-12 py-4 bg-info">
				<div class="container d-flex justify-content-between text-white">
					<div class="col-8 my-auto border-end">
						<h2 class="my-auto fw-lighter">
							Perlu <b class="fw-bold">BANTUAN?</b> Hubungi Kami :
							<b class="fw-bold">0274-5305505</b>
						</h2>
					</div>
					<div class="col-4 text-end">
						<button
							type="button"
							class="btn btn-outline-light rounded-pill fw-bold px-5 py-3"
						>
							<i class="fas fa-comments me-3"></i>
							Live Chat
						</button>
					</div>
				</div>
			</div>

			<div class="col-12 bg-dark text-muted pb-5">
				<div class="container mt-4">
					<div class="row">
						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-5">
							<h6 class="fw-bold">HUBUNGI KAMI</h6>
							<p class="fw-light m-0">0274-5305505</p>
							<p class="fw-light m-0">Senin - Minggu</p>
							<p class="fw-light m-0">24 Jam Nonstop</p>

							<p class="fw-light m-0 mt-3">Jl. Selokan Mataram Monjali</p>
							<p class="fw-light m-0">Karangjati MT I/304</p>
							<p class="fw-light m-0">Sinduadi, Mlati, Sleman</p>
							<p class="fw-light m-0">Yogyakarta 55284</p>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-5">
							<h6 class="fw-bold">LAYANAN</h6>
							<p class="fw-light m-0">Domain</p>
							<p class="fw-light m-0">Shared Hosting</p>
							<p class="fw-light m-0">Cloud VPS Hosting</p>
							<p class="fw-light m-0">Managed VPS Hosting</p>
							<p class="fw-light m-0">Web Builder</p>
							<p class="fw-light m-0">Keamanan SSL / HTTPS</p>
							<p class="fw-light m-0">Jasa Pembuatan Website</p>
							<p class="fw-light m-0">Program Affiliasi</p>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-5">
							<h6 class="fw-bold">LAYANAN</h6>
							<p class="fw-light m-0">Hosting Murah</p>
							<p class="fw-light m-0">Hosting Indonesia</p>
							<p class="fw-light m-0">Hosting Singapura SG</p>
							<p class="fw-light m-0">Hosting PHP</p>
							<p class="fw-light m-0">Hosting Wordpress</p>
							<p class="fw-light m-0">Hosting Laravel</p>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-5">
							<h6 class="fw-bold">TUTORIAL</h6>
							<p class="fw-light m-0">Knowledgebase</p>
							<p class="fw-light m-0">Blog</p>
							<p class="fw-light m-0">Cara Pembayaran</p>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-5">
							<h6 class="fw-bold">TENTANG KAMI</h6>
							<p class="fw-light m-0">Tim Niagahoster</p>
							<p class="fw-light m-0">Karir</p>
							<p class="fw-light m-0">Events</p>
							<p class="fw-light m-0">Penawaran & Promo Spesial</p>
							<p class="fw-light m-0">Kontak Kami</p>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-5">
							<h6 class="fw-bold">KENAPA PILIH NIAGAHOSTER?</h6>
							<p class="fw-light m-0">Support Terbaik</p>
							<p class="fw-light m-0">Garansi Harga Termurah</p>
							<p class="fw-light m-0">Domain Gratis Selamanya</p>
							<p class="fw-light m-0">Datacenter Hosting Terbaik</p>
							<p class="fw-light m-0">Review Pelanggan</p>
						</div>

						<div
							class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-5 text-wrap"
						>
							<h6 class="fw-bold">NEWSLETTER</h6>

							<div class="mt-3 position-relative">
								<input
									type="text"
									class="form-control form-control-lg rounded-pill position-absolute fw-light"
									style="top: 0; bottom: 0"
									placeholder="Email"
								/>

								<button
									type="button"
									class="btn btn-primary rounded-pill px-3 position-absolute fw-light"
									style="
										top: 0;
										bottom: 0;
										right: 0;
										height: 40px;
										margin-right: 5px;
										margin-top: 4px;
									"
								>
									Berlangganan
								</button>
							</div>

							<p
								class="fw-light position-absolute text-wrap w-100"
								style="margin-top: 60px"
							>
								Dapatkan promo dan konten menarik <br />
								dari penyedia hosting terbaik Anda.
							</p>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-5">
							<h6 class="fw-bold" style="opacity: 0">Social</h6>

							<div class="d-flex justify-content-center mt-3">
								<div class="col text-center">
									<button
										type="button"
										class="btn btn-outline-light rounded-circle"
										style="width: 50px; height: 50px"
									>
										<i class="fab fa-facebook-f"></i>
									</button>
								</div>

								<div class="col text-center">
									<button
										type="button"
										class="btn btn-outline-light rounded-circle"
										style="width: 50px; height: 50px"
									>
										<i class="fab fa-twitter"></i>
									</button>
								</div>

								<div class="col text-center">
									<button
										type="button"
										class="btn btn-outline-light rounded-circle"
										style="width: 50px; height: 50px"
									>
										<i class="fab fa-google-plus-g"></i>
									</button>
								</div>
							</div>
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 mt-5">
							<h6 class="fw-bold">PEMBAYARAN</h6>
							<p class="fw-light m-0">
								Aktivasi instan dengan e-Payment Hosting dan domain langsung
								aktif!
							</p>
						</div>

						<div class="col-12 border-top mt-5">
							<div class="row mt-5">
								<div class="col-8">
									<p class="fw-light m-0">
										Copyright ©2016 Niagahoster | Hosting powered by PHP7,
										CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage
										Jakarta
									</p>
									<p class="fw-light m-0">
										Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and
										cloud computing technology
									</p>
								</div>
								<div class="col-4 text-end">
									<p class="fw-light m-0">
										Syarat dan Ketentuan | Kebijakan Privasi
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
			crossorigin="anonymous"
		></script>
	</body>
</html>
